body {
  padding: auto;
  width: 100%;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.appStyle{
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background:linear-gradient(gold, white);
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  cursor: pointer;
  margin-bottom: 4px;
}
.favButton:hover{
  border: 0.0px solid rgb(6, 9, 14);
  opacity: 50%;
}

h1{
  text-align: center;
  margin-top: 0px;
}

h2{
  text-align: center;
}

nav{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: #ccc;
  height: 80px;
  background-color: #e4af6dd1;
  opacity: 70%;

}
.buttomThemeBox{
  display: flex-box;
  flex-direction: row;
  position: absolute;
  margin-left:80%;
} 


nav button{
  margin-right: 10px;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 


.detailbox{
  background-color: #c0aaaa;
  width: 100%;
  display: block;
  justify-content: center;
  
  padding-bottom: 4rem;
  
}

.detail{
  background:linear-gradient(rgba(25, 173, 119, 0.747),rgba(161, 215, 228, 0.778));
  padding-bottom:3rem ;
  text-align: center;
  width: 400px;
  outline: auto;
  margin:0px auto;
}



footer {
  display: flex;
  flex-Direction:'row';
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  
  background: linear-gradient(rgba(24, 24, 24, 0.503),white);
}

footer > img{
  width: 200px;
  margin: 0;
  
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: auto;
  margin: 0 auto;
  background-color: transparent;
}


.card{

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 220;
  padding: 0.5rem 0.5rem 0 0.5rem; 
  /* padding: auto; */
  
  outline: 8px ridge rgba(52, 84, 144, 0.481);
  border-radius: 10%;
  background: linear-gradient(#aaac40, #36cea6);
  margin-bottom: 2rem;
}

.link{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 230px;
  padding: auto;
  
  
}
/* 
.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
} */

.cardImg{
  width: 100px;
  border-radius: 40%;
  border: 2px solid rgb(0, 0, 0);
}
.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin:auto;
  padding-right:0px;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.fatherForm{
  display: flex;
  flex-direction: column;
  background: linear-gradient(#821720,white);
  align-items: center;
  padding-bottom: 1.5rem;
}

.main{
  background:linear-gradient(rgba(25, 173, 119, 0.747),rgba(161, 215, 228, 0.778));
  padding-bottom:3rem ;
}

.favs{
  background:linear-gradient(rgba(25, 173, 119, 0.747),rgba(161, 215, 228, 0.778));
  padding-bottom:3rem ;

}

.sendButton{
  border-radius: 15px;
  background:linear-gradient(rgba(237, 63, 124, 0.725), rgb(226, 146, 146));
  font-size: 2rem;
}

.sendButton:hover{
  background:rgba(212, 169, 184, 0.725);
  color:black;
  font-size: 2rem;
}


.dark{
  background:linear-gradient(black,rgb(216, 215, 215));
  color: white;
}
.dark > a {
  color: white;
}

.buttomThemeBox{
  align-self: last;
  text-align: right;
}
.buttomTheme{
  width: 7rem;
  border-radius: 10%;
  background: linear-gradient(rgb(255, 255, 255),rgba(0, 0, 0, 0.407));
  box-shadow: 5px 5px 5px black;
  outline: 3px ridge rgba(216, 218, 221, 0.481);
  
}

.buttomTheme:hover{
  background-color: aquamarine;
}



.formStyle{
  background: rgba(253, 141, 141,.5);
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  width: 500px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-evenly;
  border: 10px;
  border-radius: 15%;
  height: 380px;
  outline: 8px ridge rgba(41, 4, 14, 0.481);
  border-radius: 2rem;
  
}

input{

  background-color: rgba(255, 255, 255, 0.564);
  border-radius: 10px;
}
.formStyle > textarea{
  background-color: transparent;
  height: 100;
  
}


